<nav>
    <img src="/images/icon" class="header-icon"></img>
    <a class="header-text" href="/">Главная</a>
    <div class="dropdown">
        <button class="dropbtn">О нас</button>
        <div class="dropdown-content">
            <a href="/about">Информация</a>
            <a href="https://discord.gg/XjU5DjAxtg">Дискорд</a>
            <a href="/dashboard/">Попасть на сервер</a>
        </div>
    </div>
    <a class="header-text" href="/oauth2">Авторизация</a>
</nav>