<title>Fiple</title>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<style>
    @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;500&display=swap');

    @import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');


    .dropbtn {
        font-family: 'Montserrat', sans-serif;
        background-color: rgb(250, 215, 169);
        padding: 11px;
        font-size: 16px;
        border: none;
        font-size: 30px;
        color: rgb(143, 24, 255);
    }

    .dropdown {
        position: relative;
        display: inline-block;
    }

    .dropdown-content {
        font-size: 16px;
        display: none;
        position: absolute;
        background-color: #f1f1f1;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        z-index: 1;
    }

    .dropdown-content a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }

    .dropdown-content a:hover {
        background-color: #ddd;
    }

    .dropdown:hover .dropdown-content {
        display: block;
    }

    .dropdown:hover .dropbtn {
        background-color: rgb(248, 209, 157);
    }

    body {
        text-align: center;
        font-family: 'Montserrat', sans-serif;
        font-size: 50px;
        background-color: antiquewhite;
        color: blueviolet;
    }

    .button1 {
        font-family: 'Montserrat', sans-serif;
        background-color: lightgreen;
        border: 0px;
        font-size: 25px;
        height: 50px;
        width: 300px;
        border-radius: 15px 100px 15px 100px;
        transition: 0.3s;
    }

    .button2 {
        font-family: 'Montserrat', sans-serif;
        background-color: rgb(255, 185, 197);
        border: 0px;
        font-size: 25px;
        height: 50px;
        width: 300px;
        border-radius: 15px 100px 15px 100px;
        transition: 0.3s;

    }

    .playerinfo {
        margin-top: 50px;
        border: 5px dotted rgb(143, 24, 255);
        background-color: rgb(255, 199, 125);
        text-align: center;
        margin-bottom: 50px;
    }

    .button2:hover {
        background: rgb(247, 255, 241);
    }

    .button1:hover {
        background: rgb(255, 241, 244);
    }

    p {
        font-size: 100px;
    }

    header {
        align-items: top;
        margin-top: -10px;
        margin-left: -10px;
        margin-right: -10px;
        display: block;
        background-color: rgb(250, 215, 169);
        text-align: left;
        height: 100px;
    }

    .header-icon {
        margin-top: 10px;
        margin-left: 10px;
        color: blueviolet;
        height: 70px;
        width: 60px;
    }

    .header-text {
        font-size: 30px;
        color: rgb(143, 24, 255);
        padding: 10px;
        margin-bottom: 10px;
    }

    .header-text:hover {
        background-color: rgb(248, 209, 157);
    }

    a {
        text-decoration: none;
    }

    a:hover {
        text-decoration: none;
    }
</style>