<html>

<head>
    <%- include('../partials/head'); %>
</head>
<header>
    <%- include('../partials/header'); %>
</header>

<body>
    <p>Ошибка 404.<br></p>Такой страницы не существует<br>
    <button class="button1" onclick="window.location.href='/';">На главную</button><button class="button2"
        onclick="javascript:history.go(-1)">Назад</button>
</body>



</html>