<!DOCTYPE html>
<html>

<head>
</head>
<%- include('../partials/head'); %>

    <body>
        <header>
            <%- include('../partials/header'); %>
        </header>
        <div id="info">
            <h1>Fiple</h1>
            Очень хороший проект с амбициозными планами, мы всегда отвечаем на ваши просьбы<br>
            Дружное комьюнити и администрация, свой дискорд бот
        </div>
    </body>


</html>