<!DOCTYPE html>
<html>

<head>
</head>
<%- include('../partials/head'); %>

    <body>
        <header>
            <%- include('../partials/header'); %>
        </header>
        <div id="info">
            <h1>кек</h1>
        </div>
    </body>


</html>