<!DOCTYPE html>
<html>

<head>
    <%- include('../partials/head'); %>
</head>
<header>
    <%- include('../partials/header'); %>
</header>

<body>
    <div id="info">
        Logged in as <%= user.username+"#"+user.discriminator %><br>
            <p>тут ничего нет</p>
    </div>

    </div>

</body>

</html>